[package]
name = "cosmic-text"
description = "Pure Rust multi-line text handling"
version = "0.6.0"
authors = ["Jeremy Soller <jeremy@system76.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/cosmic-text/latest/cosmic_text/"
repository = "https://github.com/pop-os/cosmic-text"

[dependencies]
fontdb = { version = "0.10.0", default-features = false }
libm = "0.2.6"
log = "0.4.17"
ouroboros = "0.15.5"
rustybuzz = { version = "0.6.0", default-features = false, features = ["libm"] }
swash = { version = "0.1.6", optional = true }
syntect = { version = "5.0.0", optional = true }
sys-locale = { version = "0.2.3", optional = true }
unicode-linebreak = "0.1.4"
unicode-script = "0.5.5"
unicode-segmentation = "1.10.0"
rangemap = "1.1.0"

[dependencies.unicode-bidi]
version = "0.3.8"
default-features = false
features = ["hardcoded-data"]

[features]
default = ["std", "swash"]
no_std = [
  "rustybuzz/libm",
]
std = [
  "fontdb/memmap",
  "fontdb/std",
  "rustybuzz/std",
  "sys-locale",
  "unicode-bidi/std",
]
vi = ["syntect"]

[workspace]
members = [
  "examples/*",
]
