[package]
name = "cosmic-text"
description = "Pure Rust multi-line text handling"
version = "0.4.0"
authors = ["Jeremy Soller <jeremy@system76.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/cosmic-text/latest/cosmic_text/"
repository = "https://github.com/pop-os/cosmic-text"

[dependencies]
#TODO: merge and release https://github.com/RazrFalcon/fontdb/pull/29
fontdb = { git = "https://github.com/jackpot51/fontdb", version = "0.9.3", default-features = false }
libm = "0.2"
log = "0.4"
ouroboros = "0.15.5"
rustybuzz = { version = "0.5", default-features = false, features = ["libm"]}
swash = { version = "0.1", optional = true }
sys-locale = { version = "0.2", optional = true }
unicode-linebreak = "0.1"
unicode-script = "0.5"
unicode-segmentation = "1.7"

[dependencies.unicode-bidi]
version = "0.3"
default-features = false
features = ["hardcoded-data"]

[features]
default = ["std", "swash"]
no_std = [
  "rustybuzz/libm",
]
std = [
  "fontdb/memmap",
  "fontdb/std",
  "rustybuzz/std",
  "sys-locale",
  "unicode-bidi/std",
]

[workspace]
members = [
  "examples/*",
]
